<!-- footer.ejs -->
<footer class="bg-gray-800 py-8 px-4  border-t-8 border-gray-400  ">
  <div class="container mx-auto flex justify-between items-center">
      <!-- Left Section -->
      <div class="flex flex-col space-y-4">
          <a href="#" class="text-white hover:text-yellow-300"><i class="fas fa-home mr-2"></i> Home</a>
          <a href="#" class="text-white hover:text-yellow-300"><i class="fas fa-users mr-2"></i> Club</a>
          <a href="#" class="text-white hover:text-yellow-300"><i class="fas fa-tools mr-2"></i> Services</a>
          <a href="#" class="text-white hover:text-yellow-300"><i class="fas fa-envelope mr-2"></i> Contact Us</a>
      </div>

      <!-- Middle Section -->
      <div class="flex items-center space-y-4 flex-col">
          <a href="#" class="text-white hover:text-yellow-300"><i class="fab fa-instagram"></i>&nbsp;&nbsp;Instagram</a>
          <a href="#" class="text-white hover:text-yellow-300"><i class="fab fa-facebook">&nbsp;&nbsp;Facebook</i></a>
          <a href="#" class="text-white hover:text-yellow-300"><i class="fab fa-youtube">&nbsp;&nbsp;Youtube</i></a>
      </div>

      <!-- Right Section -->
      <div>
          <p class="text-white">Hyderabad: +91 8309897937  <br>
            teacher's colony, Bibinagar  <br>
              <br>
            +91 9908776278 <br>
            1st floor, MR Plaza, Rd no 36, Sri rama colony, Nalgonda  <br>
              <br>
    
           @komalreddypalwai@gmail.com <br>
            Landline +91-40-29369999</p>
         
      </div>
  </div>
</footer>
